#head{
	position:absolute;
	left: 0%;
	top:0%;
	height: 3%;
	width:100%;
	background-color:red;
	background: linear-gradient(45deg, #01a1ff, #00d3b3);
}

#red{
    position: absolute;
	top:5%;
	right:3%;
	widht:60%;
	height:90%;
	 border: 1px solid #45c5ff;
	 /*background-color:green;*/
}
#sub{
    position: absolute;
	top:5%;
	left:3%;
	widht:70%;
	height:45%;
	border: 1px solid #45c5ff;
	/*background-color:pink;*/
}

body {
	background: #f7f7f7;
}

.toolbar a {
	display: inline-block;
	border: 1px solid #01a1ff;
	padding: 5px 8px;
	margin: 0 5px 10px 0;
	color: #000;
	border-radius: 3px;
	font-size: 12px;
	box-shadow: 1px 1px 2px #ddd;
	background: #fff;
	vertical-align: top;
	text-decoration: none;
}
.toolbar select {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	background: #fff;
	padding: 0;
	margin: 0 5px 10px 0;
	color: #000;
	box-shadow: 1px 1px 2px #ddd;
	border-radius: 3px;
	vertical-align: top;
  	font-size: 12px;
}
.toolbar input {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	background: #fff;
	padding: 0;
	margin: 0 5px 10px 0;
	color: #000;
	box-shadow: 1px 1px 2px #ddd;
	border-radius: 3px;
	vertical-align: top;
	font-size: 12px;
}
.toolbar span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0;
	margin: 0 0 10px 0;
	color: #000;
	vertical-align: top;
	font-size: 12px;
}
.editor {
	/*display: inline-block;*/
	min-height: 30%;
	min-width: 50%;
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #ddd;
	background: #fff;
}